Checks: "-*,readability-*,-readability-named-parameter,-readability-convert-member-functions-to-static,portability-*,-readability-make-member-function-const,performance-*,-performance-no-int-to-ptr,modernize-*,concurrency-*,clang-analyzer-*"
WarningsAsErrors: "-*"
CheckOptions:
  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key: readability-identifier-naming.AbstractClassSuffix
    value: "Protocol"

  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ClassSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ClassMemberCase
    value: "TODO:"
  - key: readability-identifier-naming.ClassMemberPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ClassMemberSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ClassMethodCase
    value: "TODO:"
  - key: readability-identifier-naming.ClassMethodPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ClassMethodSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ConceptCase
    value: CamelCase
  - key: readability-identifier-naming.ConceptPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ConceptSuffix
    value: "TODO:"

  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumPrefix
    value: "TODO:"
  - key: readability-identifier-naming.EnumSuffix
    value: "TODO:"

  - key: readability-identifier-naming.FunctionCase
    value: "TODO:"
  - key: readability-identifier-naming.FunctionPrefix
    value: "TODO:"
  - key: readability-identifier-naming.FunctionSuffix
    value: "TODO:"

  - key: readability-identifier-naming.GlobalFunctionCase
    value: "TODO:"
  - key: readability-identifier-naming.GlobalFunctionPrefix
    value: "TODO:"
  - key: readability-identifier-naming.GlobalFunctionSuffix
    value: "TODO:"

  - key: readability-identifier-naming.GlobalPointerCase
    value: "TODO:"
  - key: readability-identifier-naming.GlobalPointerPrefix
    value: "TODO:"
  - key: readability-identifier-naming.GlobalPointerSuffix
    value: "TODO:"

  - key: readability-identifier-naming.GlobalVariableCase
    value: "TODO:"
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "TODO:"
  - key: readability-identifier-naming.GlobalVariableSuffix
    value: "TODO:"

  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: "TODO:"

  - key: readability-identifier-naming.InlineNamespaceCase
    value: "TODO:"
  - key: readability-identifier-naming.InlineNamespacePrefix
    value: "TODO:"
  - key: readability-identifier-naming.InlineNamespaceSuffix
    value: "TODO:"

  - key: readability-identifier-naming.LocalPointerCase
    value: "TODO:"
  - key: readability-identifier-naming.LocalPointerPrefix
    value: "TODO:"
  - key: readability-identifier-naming.LocalPointerSuffix
    value: "TODO:"

  - key: readability-identifier-naming.LocalVariableCase
    value: "TODO:"
  - key: readability-identifier-naming.LocalVariablePrefix
    value: "TODO:"
  - key: readability-identifier-naming.LocalVariableSuffix
    value: "TODO:"

  - key: readability-identifier-naming.MacroDefinitionCase
    value: "TODO:"
  - key: readability-identifier-naming.MacroDefinitionPrefix
    value: "TODO:"
  - key: readability-identifier-naming.MacroDefinitionSuffix
    value: "TODO:"

  - key: readability-identifier-naming.MemberCase
    value: "TODO:"
  - key: readability-identifier-naming.MemberPrefix
    value: "TODO:"
  - key: readability-identifier-naming.MemberSuffix
    value: "TODO:"

  - key: readability-identifier-naming.MethodCase
    value: "TODO:"
  - key: readability-identifier-naming.MethodPrefix
    value: "TODO:"
  - key: readability-identifier-naming.MethodSuffix
    value: "TODO:"

  - key: readability-identifier-naming.NamespaceCase
    value: "TODO:"
  - key: readability-identifier-naming.NamespacePrefix
    value: "TODO:"
  - key: readability-identifier-naming.NamespaceSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ParameterCase
    value: "TODO:"
  - key: readability-identifier-naming.ParameterPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ParameterSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ParameterPackCase
    value: "TODO:"
  - key: readability-identifier-naming.ParameterPackPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ParameterPackSuffix
    value: "TODO:"

  - key: readability-identifier-naming.PointerParameterCase
    value: "TODO:"
  - key: readability-identifier-naming.PointerParameterPrefix
    value: "TODO:"
  - key: readability-identifier-naming.PointerParameterSuffix
    value: "TODO:"

  - key: readability-identifier-naming.PrivateMemberCase
    value: "TODO:"
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "TODO:"
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "TODO:"

  - key: readability-identifier-naming.PrivateMethodCase
    value: "TODO:"
  - key: readability-identifier-naming.PrivateMethodPrefix
    value: "TODO:"
  - key: readability-identifier-naming.PrivateMethodSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ProtectedMemberCase
    value: "TODO:"
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ProtectedMethodCase
    value: "TODO:"
  - key: readability-identifier-naming.ProtectedMethodPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ProtectedMethodSuffix
    value: "TODO:"

  - key: readability-identifier-naming.PublicMemberCase
    value: "TODO:"
  - key: readability-identifier-naming.PublicMemberPrefix
    value: "TODO:"
  - key: readability-identifier-naming.PublicMemberSuffix
    value: "TODO:"

  - key: readability-identifier-naming.PublicMethodCase
    value: "TODO:"
  - key: readability-identifier-naming.PublicMethodPrefix
    value: "TODO:"
  - key: readability-identifier-naming.PublicMethodSuffix
    value: "TODO:"

  - key: readability-identifier-naming.StaticVariableCase
    value: "TODO:"
  - key: readability-identifier-naming.StaticVariablePrefix
    value: "TODO:"
  - key: readability-identifier-naming.StaticVariableSuffix
    value: "TODO:"

  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructPrefix
    value: "TODO:"
  - key: readability-identifier-naming.StructSuffix
    value: "TODO:"

  - key: readability-identifier-naming.TemplateParameterCase
    value: "TODO:"
  - key: readability-identifier-naming.TemplateParameterPrefix
    value: "TODO:"
  - key: readability-identifier-naming.TemplateParameterSuffix
    value: "TODO:"

  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: "TODO:"
  - key: readability-identifier-naming.TemplateTemplateParameterPrefix
    value: "TODO:"
  - key: readability-identifier-naming.TemplateTemplateParameterSuffix
    value: "TODO:"

  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasPrefix
    value: "TODO:"
  - key: readability-identifier-naming.TypeAliasSuffix
    value: "TODO:"

  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefPrefix
    value: "TODO:"
  - key: readability-identifier-naming.TypedefSuffix
    value: "TODO:"

  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: "TODO:"
  - key: readability-identifier-naming.TypeTemplateParameterPrefix
    value: "TODO:"
  - key: readability-identifier-naming.TypeTemplateParameterSuffix
    value: "TODO:"

  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.UnionPrefix
    value: "TODO:"
  - key: readability-identifier-naming.UnionSuffix
    value: "TODO:"

  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: "TODO:"
  - key: readability-identifier-naming.ValueTemplateParameterPrefix
    value: "TODO:"
  - key: readability-identifier-naming.ValueTemplateParameterSuffix
    value: "TODO:"

  - key: readability-identifier-naming.VariableCase
    value: "TODO:"
  - key: readability-identifier-naming.VariablePrefix
    value: "TODO:"
  - key: readability-identifier-naming.VariableSuffix
    value: "TODO:"

  - key: readability-identifier-naming.VirtualMethodCase
    value: "TODO:"
  - key: readability-identifier-naming.VirtualMethodPrefix
    value: "TODO:"
  - key: readability-identifier-naming.VirtualMethodSuffix
    value: "TODO:"
